.tasks {
    background-color: white;
    margin: 2px 3px 2px;
    padding: 10px;
    padding-top: 10px;
    grid-column: span 3;
}

.tasks__header {
    padding: 20px;
    margin: 10px -12px 2px;
    font-size: 20px;
    background: white;
    border-bottom: 2px solid #f1eff3;
}

.tasks__content {
    list-style: none;
    background-color: white;
    border-bottom: 2px solid #f1eff3;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.tasks__content--hidden {
    display: none;
}

.tasks__name {
    flex-grow: 1;
    line-height: 30px;
    padding-left: 7px;
    word-break: break-word;
}

.tasks__name--done {
    flex-grow: 1;
    line-height: 30px;
    text-decoration: line-through;
    font-size: 15px;
    padding-left: 7px;
    word-break: break-word;
}

.tasks__button {
    background-color: rgb(16, 84, 48);
    width: 30px;
    height: 30px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 1s;
}

.task__button--toggleDone {
    background-color: rgb(16, 84, 48);
}

.tasks__button--toggleDone:hover {
    background-color: rgb(56, 150, 100);
}

.tasks__button--toggleDone:active {
    background-color: rgb(44, 233, 132);
    border: 1px solid black;
}

.tasks__button--remove {
    background-color: rgb(190 6 6);

}

.tasks__button--remove:hover {
    background-color: rgb(230 77 77);
}

.tasks__button--remove:active {
    background-color: rgb(350 107 107);
    border: 1px solid black;
}